/* line 1, /Users/jtqiu/develop/ruby/places_i_have_been/source/stylesheets/style.css.scss */
#map {
  height: 500px; }

/* line 5, /Users/jtqiu/develop/ruby/places_i_have_been/source/stylesheets/style.css.scss */
img.olTileImage {
  max-width: inherit; }
