---
title: The places I have been
---

<nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="https://github.com/abruzzi/placesihavebeen">Code In Github</a></h1>
      </li>
    </ul>
    
    <section class="top-bar-section" />
</nav>

<div class="row">
  <div class="large-12 columns">
    <h1>The places I have been</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
        <p>During the past 2 years, I took about 5000+ photos by my iPhone 4s. iPhone 4s has a secret function that it takes photo with some additional information. Like geolocation, Aperture, Speed of shutter, etc. Last weekend, I just extract those information out of my photo collection, of course, write a few lines of ruby and JavaScript, here is what I got.</p>
    </div>
  </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div id="map" />
    </div>
</div>

